html {
    margin:0px;
    padding:0px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FCA205;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #16168a;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #FCA205;
    text-decoration: none;
}


.date {
    color: #828282;
}

.title {
    color: #FCA205;
    text-decoration: none;
}

a.title:hover {
  text-decoration: none;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
