html, body{
    margin:0px;
    padding:0px;
}

.nav-link {
    color: #ff9400;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #FCA205;
    text-decoration: none;
}


.date {
    color: #828282;
}

.title {
    color: #FCA205;
    text-decoration: none;
}

a.title:hover {
  text-decoration: none;
}
