{% extends 'recovery/base.html' %}
{% load thumbnail %}

{% block content %}

  {% for article in articles %}
    <div class="row mb-3">
      <div>
      {% if article.image %}
        {% thumbnail article.image '200x200' crop='center' as im %}
          <img class="mr-3" src="{{im.url}}" width="{{im.width}}" height="{{im.height}}">
        {% endthumbnail %}
      {% else %}
        {% thumbnail "https://picsum.photos/id/136/4032/2272" "200x200" crop="center" as im %}
          <img class="mr-3" src="{{im.url}}" width="{{im.url.width}}" height="{{im.url.height}}" >
        {% endthumbnail %}
      {% endif %}
      </div>
      <table class="w-75 table-borderless text-top float-right">
        <thead>
          <tr>
            <th scope="col" class="table-light">
              <h1>
              <a class="title" href="{% url 'article_detail' pk=article.pk %}">
                {{article.title}}
              </a>
              </h1>
            </th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td>
                {{article.description|linebreaksbr}}
                <a href="{% url 'article_detail' pk=article.pk %}">
                  </br>Узнать историю ->
                </a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  {% endfor %}

{% endblock %}
