{% extends 'recovery/base.html' %}
{% load thumbnail %}

{% block content %}
  {% for athlet in athlets %}
    <div class="row mb-3">
      {% if athlet.image %}
        {% thumbnail athlet.image "200x200" crop="center" as im %}
            <img class="mr-3" src="{{im.url}}" width="{{im.url.width}}" height="{{im.url.height}}">
        {% endthumbnail %}
      {% else %}
        {% thumbnail "https://picsum.photos/id/104/200" "200x200" crop="center" as im %}
          <img class="mr-3" src="{{im.url}}" width="200" height="200">
        {% endthumbnail %}
      {% endif %}
        <table class="w-75 table-borderless text-top float-right">
          <thead>
            <tr>
              <th scope="col" class="table-light">
                <h1>
                <a class="title" href="{% url 'athlet_detail' pk=athlet.pk %}">
                  {{athlet.name}} {{athlet.surname}}
                </a>
                </h1>
              </th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td>
                  {{athlet.description}}
                  <a href="{% url 'athlet_detail' pk=athlet.pk %}">
                    <br>
                    Узнать историю ->
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  {% endfor %}

  {% if athlets.has_other_pages %}
  <nav area_lable="Page navigation">
    <ul class="pagination justify-content-center mb-4">
      {%if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ athlets.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="#" ><span>&laquo;</span></a></li>
      {% endif %}
      {%for i in athlets.paginator.page_range %}
        {% if athlets.number == i %}
          <li class="page-item"><a class="page-link" href="#" >{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if athlets.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ athlets.next_page_number }}" area-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
      {% endif %}
    </ul>
  {% endif %}
</nav>

{% endblock %}
